
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Find Your Pokemon</title>
</head>
<body>
    <form action="/profile" method="POST">
    <h1>Find Your Favourite Pokemon</h1>
    <p>
        What's your name? <input name="name" type="text"/><br/>
    </p>
    <p>
        What size of pokemon do you like?
        <select name="sizes">
            <option value='all'>All types</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="Large">Large</option>
        </select>
    </p>    
    <p>
        What's your lucky number? (Please input a number larger then 11)<input name="index" type="text"/><br/>
    </p>    
    <p>
        What type of pokemon do you like?<br/>
        <input type="radio" name="type" value="Bug">Bug
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/7/7d/Bug.png/revision/latest/scale-to-width-down/64?cb=20161013132753' width='3%'>
        <input type="radio" name="type" value="Dark">Dark
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/0/0e/Dark.png/revision/latest/scale-to-width-down/64?cb=20161013132800' width='3%'>
        <input type="radio" name="type" value="Dragon">Dragon
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/c/c7/Dragon.png/revision/latest/scale-to-width-down/64?cb=20161013132807' width='3%'>
        <input type="radio" name="type" value="Electric">Electric
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/2/2f/Electric.png/revision/latest/scale-to-width-down/64?cb=20161013132813' width='3%'>
        <br/>
        <input type="radio" name="type" value="Fairy">Fairy
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/4/43/Fairy.png/revision/latest/scale-to-width-down/64?cb=20161013132820' width='3%'>
        <input type="radio" name="type" value="Fighting">Fighting
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/3/30/Fighting.png/revision/latest/scale-to-width-down/64?cb=20161013132827' width='3%'>
        <input type="radio" name="type" value="Fire">Fire
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/3/30/Fire.png/revision/latest/scale-to-width-down/64?cb=20161013132833' width='3%'>
        <input type="radio" name="type" value="Flying">Flying
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/7/7f/Flying.png/revision/latest/scale-to-width-down/64?cb=20161013132839' width='3%'>
        <br/>
        <input type="radio" name="type" value="Ghost">Ghost
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/a/ab/Ghost.png/revision/latest/scale-to-width-down/64?cb=20161013132847' width='3%'>
        <input type="radio" name="type" value="Grass">Grass
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/c/c5/Grass.png/revision/latest/scale-to-width-down/64?cb=20161013132855' width='3%'>
        <input type="radio" name="type" value="Ground">Ground
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/8/8f/Ground.png/revision/latest/scale-to-width-down/64?cb=20161013132902' width='3%'>
        <input type="radio" name="type" value="Ice">Ice
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/7/77/Ice.png/revision/latest/scale-to-width-down/64?cb=20161013132908' width='3%'>
        <br/>
        <input type="radio" name="type" value="Normal">Normal
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/f/fb/Normal.png/revision/latest/scale-to-width-down/64?cb=20161013132914' width='3%'>
        <input type="radio" name="type" value="Poison">Poison
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/0/05/Poison.png/revision/latest/scale-to-width-down/64?cb=20161013133014' width='3%'>
        <input type="radio" name="type" value="Psychic">Psychic
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/2/21/Psychic.png/revision/latest/scale-to-width-down/64?cb=20161013133006' width='3%'>
        <input type="radio" name="type" value="Ice">Rock
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/0/0b/Rock.png/revision/latest/scale-to-width-down/64?cb=20161013133022' width='3%'>
        <br/>
        <input type="radio" name="type" value="Steel">Steel
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/c/c9/Steel.png/revision/latest/scale-to-width-down/64?cb=20161013133029' width='3%'>
        <input type="radio" name="type" value="Water">Water
        <img src='https://vignette.wikia.nocookie.net/pokemongo/images/9/9d/Water.png/revision/latest/scale-to-width-down/64?cb=20161013133222' width='3%'>
        <br/>
        
        
    </p>
    <input type="submit" value="Submit Form"/>
    </form>
</body>
</html>


